<template>
	<div>
		{{ name }}
	</div>
</template>

<script>
import countries from "country-list";

export default {
	props: {
		value: {
			type: [String, Number],
			default: null,
		},
	},
	computed: {
		name() {
			return this.value ? countries().getName(this.value) : null;
		},
	},
};
</script>

<style>

</style>
