<template>
	<div>
		<v-select
			v-bind="$props"
			class="custom-v-select"
			v-model="input"
			:options="countries"
		/>
	</div>
</template>

<script>
import vSelect from "vue-select";
import countries from "country-list";

export default {

	name: "CountrySelect",

	mixins: [vSelect],

	props: {
		value: {
			type: [String, Number],
			default: null,
		},
		placeholder: {
			type: [String],
			default: null,
		},
	},

	computed: {
		input: {
			get() {
				return this.value ? {
					label: countries().getName(this.value),
					value: this.value,
				} : null;
			},
			set(value) {
				this.$emit("input", value ? value.value : null);
			},
		},

		countries() {
			return countries().getData().map(({ code, name }) => ({ label: name, value: code }));
		},
	},
};
</script>

<style>

</style>
