<template>
	<Product :product="product" />
</template>

<script>
const Product = () => import("~/components/Product/Detail.vue");

export default {
	components: {
		Product,
	},

	validate({ params, store }) {
		return store.state.product.list.some(product => product.slug === params.slug);
	},

	computed: {
		product() {
			return this.$store.getters["product/bySlug"](this.$router.currentRoute.params.slug);
		},
	},
};
</script>

<style module>
.grid {
	display: grid;
	grid-gap: var(--size-base);
	justify-items: stretch;
	align-items: stretch;

	@media (--breakpoint-sm) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.item {
	background-color: rgba(238, 238, 238, 1);
}
</style>
