<template>
	<nuxt-link
		:class="[$style.link]"
		:to="{name: 'shop-cart'}"
	>
		<div :class="$style.relative">
			<CartIcon :class="[iconClass]" />
			<div
				v-if="count > 0"
				:class="$style.badge"
			>
				{{ count }}
			</div>
		</div>
	</nuxt-link>
</template>

<script>
import { mapGetters } from "vuex";
import CartIcon from "~/components/Cart/cart.svg";

export default {
	components: {
		CartIcon,
	},

	props: {
		iconClass: {
			type: [String, Array, Object],
			default: null,
		},
	},

	computed: {
		...mapGetters({
			content: "cart/content",
			count: "cart/count",
		}),
	},

	mounted() {
		this.$store.dispatch("cart/getContent");
	},
};
</script>

<style module>
.relative {
	position: relative;
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	background-color: var(--color-primary);
	color: var(--color-white);
	font-weight: var(--font-weight-bold);
	line-height: 1;
	border-radius: 50%;
	width: 1.25rem;
	height: 1.25rem;
	padding: 0.25rem 0;
	font-size: var(--font-size-small);
	text-align: center;
}
</style>
