<template>
	<div :class="['tr-sm', $style.body]">
		<div
			v-if="!readOnly"
			:class="['td-sm', $style.media]"
		>
			<nuxt-link :to="{name: 'shop-product-slug', params: {slug: item.productData.slug}}">
				<Media
					aspect-ratio="1/1"
					:class="$style.image"
				>
					<Still
						v-if="item.productData.images[0]"
						:src="item.productData.images[0].src"
						:alt="item.productData.images[0].alt"
						:fill="true"
						aspect-ratio="1:1"
					/>
				</Media>
			</nuxt-link>
		</div>

		<div :class="['td-sm', 'fill', $style.name] ">{{ item.productName }}</div>

		<div
			v-if="!readOnly"
			:class="[$style.singlePriceLabel]"
		>Price per piece</div>
		<div
			v-if="!readOnly"
			:class="['td-sm', $style.singlePrice]"
		>
			<Price :value="item.productData.price" />
		</div>


		<div :class="['td-sm', $style.quantity]">
			<template v-if="readOnly">
				{{ item.quantity }}
			</template>
			<b-form-select
				v-else
				v-model="item.quantity"
				:options="quantityOptions"
				@change.native.prevent="changeQuantity"
			/>
		</div>


		<div :class="[$style.subtotalLabel]">Subtotal</div>
		<div :class="['td-sm', $style.subtotal]">
			<Price :value="item.lineTotal" />
		</div>


		<div
			v-if="!readOnly"
			:class="['td-sm', $style.remove]"
		>
			<Btn
				variant="reset"
				:class="$style.buttonRemove"
				@click.native="clickRemove"
			>
				<font-awesome-icon
					:icon="trashIcon"
					slot="prepend"
				/>
				<span class="d-sm-none">Remove</span>
			</Btn>
		</div>

		<div
			v-if="!readOnly"
			:class="['td-sm', $style.loader]"
		>
			<Loader v-if="item.loading" />
		</div>
	</div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faTrashAlt } from "@fortawesome/free-solid-svg-icons";
import Media from "~/components/Media.vue"; // Because of repaint, do not import async

const Price = () => import("~/components/Price.vue");
const Still = () => import("~/components/Still.vue");
const Loader = () => import("~/components/Loading/Loader.vue");
const Btn = () => import("~/components/Btn.vue");

export default {
	components: {
		FontAwesomeIcon,
		Media,
		Price,
		Still,
		Loader,
		Btn,
	},

	props: {
		item: {
			type: Object,
			default: () => {},
		},
		readOnly: {
			type: Boolean,
			default: true,
		},
	},

	data() {
		return {
			trashIcon: faTrashAlt,
		};
	},

	computed: {
		quantityOptions() {
			const maxConstant = 25;
			const {
				manageStock,
				stockQuantity,
				backordersAllowed,
			} = this.item.productData;

			/* eslint-disable no-nested-ternary */
			const maxQuantity = !manageStock ? maxConstant
				: backordersAllowed ? maxConstant
					: stockQuantity < maxConstant ? stockQuantity : maxConstant;
			/* eslint-disable no-nested-ternary */

			return [...Array(maxQuantity)]
				.map((emptyValue, index) => index + 1)
				.reduce((r, currentValue) => {
					r.push({
						value: currentValue,
						text: currentValue,
					});

					return r;
				}, []);
		},
	},

	methods: {
		changeQuantity(event) {
			this.$store.dispatch("cart/updateProduct", {
				product: this.item,
				quantity: event.target.value,
			});
		},

		clickRemove() {
			this.$store.dispatch("cart/removeProduct", {
				product: this.item,
			});
		},
	},
};
</script>

<style module>
.body {
	position: relative;

	@media (--breakpoint-xs-max) {
		display: grid;
		align-content: center;
		align-items: center;
		grid-row-gap: calc(var(--size-base) / 4);
		grid-column-gap: calc(var(--size-base) / 2);

		/* stylelint-disable */
		grid-template-areas: "media name name"
			"media labelPerPiece valuePerPiece"
			"media quantity quantity"
			"media subtotalLabel subtotal"
			"media remove remove";
		/* stylelint-enable */
		grid-template-columns: calc(var(--size-base) * 3) repeat(2, min-content);
		grid-template-rows: repeat(5, auto);

		margin-bottom: calc(var(--size-base));
		padding-bottom: calc(var(--size-base));
		border-bottom: 1px solid var(--color-gray-light);
	}
}

.loader {
	width: 0 !important;
}

.image {
	display: block;
	width: calc(var(--size-base) * 3) !important;
	height: calc(var(--size-base) * 3) !important;
	padding-bottom: 0 !important;
}

.media {
	grid-area: media;
	align-self: flex-start;
}

.name {
	grid-area: name;

	@media (--breakpoint-xs-max) {
		font-weight: var(--font-weight-bold);
	}
}

.singlePriceLabel {
	grid-area: labelPerPiece;
}

.singlePriceLabel,
.subtotalLabel {
	color: var(--color-gray);
	font-size: var(--font-size-extra-small);
	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
	white-space: nowrap;

	@media (--breakpoint-sm) {
		display: none;
	}
}

.singlePrice {
	grid-area: valuePerPiece;
}

.quantity { grid-area: quantity; }

.subtotalLabel { grid-area: subtotalLabel; }

.subtotal {
	grid-area: subtotal;
}

.remove { grid-area: remove; }

.buttonRemove {
	color: var(--color-gray) !important;
	font-size: var(--font-size-extra-small) !important;
	text-transform: uppercase;
	font-weight: var(--font-weight-bold) !important;

	&:hover,
	&:focus {
		color: var(--color-primary-dark) !important;
	}
}
</style>
