<template>
	<div class="position-relative">
		<Loader v-if="loading.totals || loading.content" />

		<div class="table-sm">
			<div
				v-if="!readOnly"
				:class="[$style.header, 'thead-sm']"
			>
				<div class="tr-sm">
					<div class="th-sm">Product</div>
					<div class="th-sm" />
					<div class="th-sm">Price</div>
					<div class="th-sm">Quantity</div>
					<div class="th-sm">Total</div>
					<div class="th-sm" />
					<div class="th-sm" />
				</div>
			</div>
			<div :class="['tbody-sm']">
				<Product
					v-for="item in content"
					:key="item.key"
					:item="item"
					:read-only="readOnly"
				/>
			</div>
		</div>
		<div :class="$style.pricing">
			<div class="row">
				<div
					v-if="!readOnly"
					class="col"
				>
					<div><strong>Subtotal</strong></div>
					<small>Shipping & discounts are added during checkout</small>
				</div>
				<div
					v-else
					class="col"
				>
					<div><strong>Total</strong></div>
				</div>
				<div class="col-auto">
					<Price
						:class="[
							$style.total,
							readOnly ? $style.readOnly: null
						]"
						:value="totals.subtotal"
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
const Product = () => import("./Product");
const Price = () => import("~/components/Price");
const Loader = () => import("~/components/Loading/Loader");

export default {
	components: {
		Product,
		Price,
		Loader,
	},

	props: {
		content: {
			type: Array,
			default: () => {},
		},
		totals: {
			type: Object,
			default: () => {},
		},
		loading: {
			type: Object,
			default: () => {},
		},
		readOnly: {
			type: Boolean,
			default: true,
		},
	},
};
</script>

<style module>
.header {
	@media (--breakpoint-xs-max) {
		display: none;
	}
}

.pricing {
	text-align: right;
	justify-content: flex-end;
	padding: var(--size-base) 0;
}

.total {
	font-size: var(--ms4);
	font-weight: var(--font-weight-bold);
	line-height: 1;

	&.readOnly {
		font-size: 1rem;
	}
}
</style>
