<template>
	<pre><code>{{ postBy }}</code></pre>
</template>

<script>
/*  */
import gql from "graphql-tag";

const query = gql`query Post($slug: String!) {
	postBy(slug: $slug) {
		title
		content
		featuredImage {
		  slug
		}
	}
}`;

export default {
	apollo: {
		postBy: {
			query,
			prefetch: ({ params: { slug } }) => ({ slug }),
			variables() {
				return {
					slug: this.$route.params.slug,
				};
			},
		},
	},
};
</script>

<style>

</style>
