<template>
	<div>
		<h1>Posts</h1>
		<div class="list">
			<div
				v-for="({id, title, slug}) in cleanPosts"
				:key="id"
			>
				<nuxt-link :to="{ name: 'post-slug', params: {slug: slug} }">
					{{ title }}
				</nuxt-link>
			</div>
		</div>

		<pre><code>{{ posts }}</code></pre>
	</div>
</template>

<script>
import gql from "graphql-tag";

const query = gql`{
	posts {
		edges {
			node {
				id
				title(format:RAW)
				slug
			}
		}
	}
}`;

export default {
	apollo: {
		posts: {
			query,
			prefetch: true,
		},
	},

	computed: {
		cleanPosts() { return this.posts ? this.posts.edges.map(({ node }) => node) : []; },
	},
};
</script>

<style module>

</style>
