<template>
	<div
		:class="wrapperClasses"
	>
		<Container>
			<div :class="$style.categoryList">
				<nuxt-link
					:to="{ name: 'shop' }"
					:class="$style.category"
					:active-class="$style.categoryActive"
					exact
				>All</nuxt-link>
				<nuxt-link
					v-for="category in categories"
					:key="category.id"
					:to="{ name: 'shop-category-slug', params: { slug: category.slug }}"
					:class="$style.category"
					:active-class="$style.categoryActive"
				>
					{{ category.name }}
				</nuxt-link>
			</div>
		</Container>
	</div>
</template>


<script>
const Container = () => import("~/components/Container.vue");

export default {

	components: {
		Container,
	},

	computed: {

		categories() {
			return this.loading ? [{ name: "loading" }] : this.$store.getters["category/list"];
		},

		wrapperClasses() {
			return [
				this.$style.wrapper,
				this.loading ? this.$style.loading : null,
			];
		},

		loading() {
			return this.$store.getters["category/list"].length === 0;
		},
	},

	async mounted() {
		const { dispatch } = this.$store;

		if (this.loading) {
			await dispatch("category/getList");
		}
	},
};
</script>


<style module>

.wrapper {
	background-color: var(--color-gray-very-light);
	overflow-x: scroll;

	position: sticky;
	top: 0;
	z-index: var(--z-index-header);
}

.categoryList {
	display: flex;
	justify-content: center;
}

.category {
	display: flex;
	padding: calc(var(--size-base) / 1.25) calc(var(--size-base) * 1.5);
	font-family: var(--font-family-headings);
	font-size: 0.8rem;
	color: var(--color-gray);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active,
	&.categoryActive {
		text-decoration: none;
		color: var(--color-primary);
	}
}

.wrapper.loading .category {
	color: var(--color-gray-very-light);
}

</style>
