<template>
	<Page :title="category.name">
		<Container>
			<ProductGrid :products="products" />
		</Container>
	</Page>
</template>

<script>
const Container = () => import("~/components/Container.vue");
const Page = () => import("~/components/Page/Page.vue");
const ProductGrid = () => import("~/components/Product/Grid.vue");

export default {
	components: {
		Container,
		Page,
		ProductGrid,
	},

	validate({ params, store }) {
		return store.state.category.list.some(category => category.slug === params.slug);
	},

	async fetch({ store: { getters, dispatch } }) {
		if (getters["category/list"].length === 0) await dispatch("category/getList");
		if (getters["product/list"].length === 0) await dispatch("product/getList");
	},

	computed: {
		category() {
			return this.$store.getters["category/bySlug"](this.$router.currentRoute.params.slug);
		},

		products() {
			return this.$store.getters["product/listByCategoryId"](this.category.id);
		},
	},
};
</script>

<style module>
.grid {
	display: grid;
	grid-gap: var(--size-base);
	justify-items: stretch;
	align-items: stretch;

	@media (--breakpoint-sm) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.item {
	background-color: rgba(238, 238, 238, 1);
}
</style>
