<template>
	<div
		:class="[
			horizontal ? $style.horizontal : null,
		]"
	>
		<div>
			<!-- <div :class="[ labelGroup ? $style.horizontal : null ]"> -->
			<label
				v-if="label"
				:for="labelFor"
				:class="$style.label"
			>{{ label }}</label>
		</div>
		<div>
			<!-- <div :class="[ contentGroup ? $style.horizontal : null ]"> -->
			<slot />
			<div
				v-if="description"
				:class="$style.description"
			>{{ description }}</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		horizontal: {
			type: [Boolean],
			default: false,
		},
		description: {
			type: [String],
			default: null,
		},
		label: {
			type: [String],
			default: null,
		},
		labelFor: {
			type: [String],
			default: null,
		},
	},
};
</script>

<style module>
.label {
	font-weight: var(--font-weight-bold);
	margin-bottom: calc(var(--size-base) / 4);
	display: block;
}

.description {
	font-size: var(--font-size-small);
	color: var(--color-gray);
}

.horizontal {
	@media (--breakpoint-sm) {
		display: grid;
		grid-template-columns: 1fr  3fr;

		& .label {
			margin-top: calc(var(--size-base) / 2);
		}
	}
}
</style>
