<template>
	<input
		type="text"
		:class="$style.input"
		v-model="input"
	>
</template>

<script>
export default {
	props: {
		value: {
			type: [String, Number],
			default: null,
		},
	},

	computed: {
		input: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("input", value);
			},
		},
	},
};
</script>

<style module>
.input {
	background-color: var(--color-white);
	border: 1px solid var(--color-gray-dark);
	font-size: var(--color-gray-base);
	font-weight: var(--font-weight-base);
	margin-bottom: calc(var(--size-base) / 2);
	padding: calc(var(--size-base) / 2) calc(var(--size-base) / 2);
	width: 100%;

	&:focus,
	&:active {
		outline: 0;
		border: 1px solid var(--color-primary);
		background-color: rgba(255, 107, 107, 0.025);
	}
}
</style>
