<template>
	<Page
		title="Cart"
		:loading="loading.content && Object.keys(content).length === 0"
	>
		<Container size="md">
			<Products
				:content="content"
				:totals="totals"
				:loading="loading"
				:read-only="false"
			/>

			<div :class="$style.actionsBottom">
				<div class="row justify-content-between align-items-center">
					<div class="col-auto">
						<nuxt-link :to="{ name: 'shop' }">Continue shopping</nuxt-link>
					</div>
					<div class="col-auto">
						<Btn
							@click.native="handleClickCheckout"
							variant="dark"
						>
							Proceed to checkout
							<font-awesome-icon
								slot="append"
								:icon="chevronRight"
							/>
						</Btn>
					</div>
				</div>
			</div>
		</Container>
	</Page>
</template>

<script>
import { mapGetters } from "vuex";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faChevronRight } from "@fortawesome/free-solid-svg-icons";

const Container = () => import("~/components/Container.vue");
const Page = () => import("~/components/Page/Page.vue");
const Btn = () => import("~/components/Btn.vue");
const Products = () => import("~/components/Cart/Products.vue");

export default {
	components: {
		Container,
		Page,
		Btn,
		FontAwesomeIcon,
		Products,
	},

	data() {
		return {
			chevronRight: faChevronRight,
		};
	},

	computed: {
		...mapGetters({
			content: "cart/content",
			totals: "cart/totals",
			loading: "cart/loading",
		}),
	},

	methods: {
		handleClickCheckout() {
			this.$router.push({ name: "shop-checkout" });
		},
	},

	async mounted() {
		const { dispatch } = this.$store;
		if (Object.keys(this.content).length === 0) {
			await Promise.all([dispatch("cart/getTotals"), dispatch("cart/getContent")]);
		}
	},
};
</script>

<style module>
.actionsBottom {
	padding-top: calc(var(--size-base) * 1);
}
</style>
