<template>
	<Page title="Checkout">
		<Container
			size="md"
			:class="$style.checkout"
		>
			<div :class="$style.content">
				<Billing
					:editable="active === 'billing'"
					@submit="submit('billing')"
					@edit="edit('billing')"
				/>
				<Shipping
					:editable="active === 'shipping'"
					@submit="submit('shipping')"
					@edit="edit('shipping')"
				/>
				<PaymentMethod
					:editable="active === 'payment-method'"
					@submit="submit('payment-method')"
					@edit="edit('payment-method')"
				/>
				<Overview
					:editable="active === 'overview'"
					@submit="submit('overview')"
					@edit="edit('overview')"
				/>
			</div>
			<aside :class="$style.aside">
				<h2>Your cart</h2>
				<Products
					:content="content"
					:totals="totals"
					:loading="loading"
				/>
			</aside>
		</Container>
	</Page>
</template>

<script>
import { mapGetters } from "vuex";

const Container = () => import("~/components/Container.vue");
const Page = () => import("~/components/Page/Page.vue");
const Products = () => import("~/components/Cart/Products.vue");
const Billing = () => import("~/components/Checkout/Billing.vue");
const Shipping = () => import("~/components/Checkout/Shipping.vue");
const PaymentMethod = () => import("~/components/Checkout/PaymentMethod.vue");
const Overview = () => import("~/components/Checkout/Overview.vue");

export default {
	components: {
		Container,
		Page,
		Products,
		Billing,
		Shipping,
		PaymentMethod,
		Overview,
	},

	data() {
		return {
			active: "billing",
		};
	},

	computed: {
		...mapGetters({
			content: "cart/content",
			totals: "cart/totals",
			loading: "cart/loading",
		}),
	},

	methods: {
		submit(type) {
			switch (type) {
			case "billing":
				this.active = "shipping";
				break;
			case "shipping":
				this.active = "payment-method";
				break;
			case "payment-method":
				this.active = "overview";
				break;
			case "overview":
				console.debug("Place the order");
				break;
			default:
				this.active = "billing";
				break;
			}
		},

		edit(type) {
			this.active = type;
		},
	},

	async mounted() {
		this.$store.dispatch("cart/getContent");
		this.$store.dispatch("cart/getTotals");
	},
};
</script>

<style module>
.checkout {
	@media (--breakpoint-md) {
		display: grid;
		grid-gap: var(--size-base) calc(var(--size-base) * 4);
		justify-items: stretch;
		align-items: stretch;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "content aside";
	}
}

.content {
	grid-area: content;
}

.aside {
	grid-area: aside;
}
</style>
