<template>
	<Page title="Shop">
		<Container>
			<ProductGrid :products="products" />
		</Container>
	</Page>
</template>

<script>
const Container = () => import("~/components/Container.vue");
const Page = () => import("~/components/Page/Page.vue");
const ProductGrid = () => import("~/components/Product/Grid.vue");

export default {
	components: {
		Container,
		Page,
		ProductGrid,
	},

	async fetch({ store: { getters, dispatch } }) {
		if (getters["category/list"].length === 0) await dispatch("category/getList");
		if (getters["product/list"].length === 0) await dispatch("product/getList");
	},

	computed: {
		products() {
			return this.$store.getters["product/list"];
		},
	},
};
</script>

<style module>

</style>
