<template>
	<div :class="spacerClass">
		<slot />
	</div>
</template>


<script>
export default {
	props: {
		padding: {
			type: Number,
			default: null,
		},
		paddingX: {
			type: Number,
			default: null,
		},
		paddingY: {
			type: Number,
			default: null,
		},
		paddingTop: {
			type: Number,
			default: null,
		},
		paddingBottom: {
			type: Number,
			default: null,
		},
		paddingLeft: {
			type: Number,
			default: null,
		},
		paddingRight: {
			type: Number,
			default: null,
		},
		margin: {
			type: Number,
			default: null,
		},
		marginX: {
			type: Number,
			default: null,
		},
		marginY: {
			type: Number,
			default: null,
		},
		marginTop: {
			type: Number,
			default: null,
		},
		marginBottom: {
			type: Number,
			default: null,
		},
		marginLeft: {
			type: Number,
			default: null,
		},
		marginRight: {
			type: Number,
			default: null,
		},
	},

	computed: {
		spacerClass() {
			return [
				this.padding ? `p-${this.padding}` : null,
				this.paddingX ? `px-${this.paddingX}` : null,
				this.paddingY ? `py-${this.paddingY}` : null,
				this.paddingTop ? `pt-${this.paddingTop}` : null,
				this.paddingBottom ? `pb-${this.paddingBottom}` : null,
				this.paddingLeft ? `pl-${this.paddingLeft}` : null,
				this.paddingRight ? `pr-${this.paddingRight}` : null,
				this.margin ? `m-${this.margin}` : null,
				this.marginX ? `mx-${this.marginX}` : null,
				this.marginY ? `my-${this.marginY}` : null,
				this.marginTop ? `mt-${this.marginTop}` : null,
				this.marginBottom ? `mb-${this.marginBottom}` : null,
				this.marginLeft ? `ml-${this.marginLeft}` : null,
				this.marginRight ? `mr-${this.marginRight}` : null,
			];
		},
	},
};

</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/mixins/breakpoints";

// Margin and Padding
$grid-breakpoints: (
	xs: 480,
	sm: 700,
	md: 1000,
	lg: 1300,
	xl: 1600,
) !default;

$spacer: 1rem;
$spacers: ();
/* stylelint-disable scss/dollar-variable-default, function-comma-newline-after */
$spacers: map-merge(
	(
		0: 0,
		1: ($spacer * 0.25),
		2: ($spacer * 0.5),
		3: $spacer,
		4: ($spacer * 1.5),
		5: ($spacer * 3)
	),
	$spacers
);

/* stylelint-enable */

@import "node_modules/bootstrap/scss/utilities/spacing";

</style>
