<template>
	<article :class="$style.page">

		<header
			v-if="title || subtitle || $slots.header"
			:class="$style.header"
		>
			<Container>
				<Headline
					v-if="title"
					:class="$style.title"
				>{{ title }}</Headline>
				<div
					v-if="subtitle"
					:class="$style.subtitle"
				>{{ subtitle }}</div>
				<slot name="header" />
			</Container>
		</header>
		<template v-if="loading">
			<div :class="$style.loading">
				<Loader :class="$style.loader" />
			</div>
		</template>
		<template v-else>
			<slot />
		</template>
		<footer v-if="$slots.footer">
			<Container>
				<slot name="footer" />
			</Container>
		</footer>
	</article>
</template>

<script>
const Container = () => import("~/components/Container.vue");
const Headline = () => import("~/components/Headline.vue");
const Loader = () => import("~/components/Loading/oval.svg");

export default {
	components: {
		Container,
		Headline,
		Loader,
	},

	props: {
		title: {
			type: String,
			default: null,
		},
		subtitle: {
			type: String,
			default: null,
		},
		loading: {
			type: Boolean,
			default: false,
		},
	},
};
</script>

<style module>
.page {
	padding: calc(var(--size-base) * 2) 0;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.header {
	text-align: center;
	padding-bottom: calc(var(--size-base) * 2);
}

.title {
	font-size: 5rem;
	text-transform: uppercase;
	font-family: var(--font-family-headings);
	margin: 0;
}

.subtitle {
	font-size: 2.5rem;
	margin: 0;
	margin-top: var(--size-base);
}

.loading {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	max-width: calc(var(--size-base) * 4);
}
</style>
