<template>
	<button
		:type="type"
		@focus="handleFocus"
		:class="buttonClasses"
	>
		<template v-if="$slots.prepend || $slots.append || loading">
			<span class="row row-sm align-items-center justify-content-center">
				<template v-if="loading">
					<span class="col-auto">
						<Loader :class="$style.loader" />
					</span>
				</template>
				<span
					v-if="$slots.prepend"
					class="col-auto"
				>
					<slot name="prepend" />
				</span>
				<span class="col-auto">
					<slot />
				</span>
				<span
					v-if="$slots.append"
					class="col-auto"
				>
					<slot name="append" />
				</span>
			</span>
		</template>
		<template v-else>
			<slot />
		</template>
	</button>
</template>

<script>
const Oval = () => import("~/components/Loading/oval.svg");

export default {

	components: {
		Loader: Oval,
	},

	data() {
		return {
			focus: false,
		};
	},

	props: {
		variant: {
			type: String,
			default: "default",
		},
		size: {
			type: String,
			default: null,
		},
		loading: {
			type: Boolean,
			default: false,
		},
		type: {
			type: String,
			default: "button",
		},
	},

	computed: {
		buttonClasses() {
			return [
				this.$style.button,
				this.focus ? this.$style.focus : null,
				this.$style[this.variant],
				this.$style[this.size],
			];
		},
	},

	methods: {
		handleFocus(evt) {
			if (evt.type === "focusin") {
				this.focus = true;
			} else if (evt.type === "focusout") {
				this.focus = false;
			}
		},
	},
};
</script>

<style module>
.button {
	border: 2px solid transparent;
	margin: 0;
	width: auto;
	overflow: visible;
	padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;
	font-weight: var(--font-weight-bold);
	font-family: var(--font-family-headings);

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: 1;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	appearance: none;

	cursor: pointer;

	/* Remove excess padding and border in Firefox 4+ */
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.default {
		background-color: var(--color-white);
		color: var(--color-gray-dark);
		border: 1px solid var(--color-gray-light);
	}

	&.primary {
		&:hover,
		&:focus,
		&:active {
			color: var(--color-primary);
			background-color: var(--color-white);
		}

		&,
		&:disabled {
			color: var(--color-white);
			background-color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}

	&.dark {
		&:hover,
		&:focus,
		&:active {
			color: var(--color-gray-dark);
			background-color: var(--color-white);
		}

		&,
		&:disabled {
			color: var(--color-white);
			background-color: var(--color-gray-dark);
			border-color: var(--color-gray-dark);
		}
	}

	&.large {
		font-size: var(--ms1);
	}

	&.sm {
		font-size: var(--ms-1);
	}

	&.reset {
		border: none;
		margin: 0;
		padding: 0;
		width: auto;
		overflow: visible;

		background: transparent;

		/* inherit font & color from ancestor */
		color: inherit;
		font: inherit;

		/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
		line-height: normal;

		/* Corrects font smoothing for webkit */
		-webkit-font-smoothing: inherit;
		-moz-osx-font-smoothing: inherit;

		/* Corrects inability to style clickable `input` types in iOS */
		appearance: none;

		cursor: pointer;

		/* Remove excess padding and border in Firefox 4+ */
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}

	/*
	* Link buttons
	*/

	/* Make a button look and behave like a link */
	&.link {
		font-weight: var(--font-weight-base);
		color: var(--color-primary);
		text-decoration: none;

		&:hover {
			color: var(--color-primary);
			text-decoration: underline;
		}

		&:focus,
		&.focus {
			text-decoration: underline;
			box-shadow: none;
		}

		&:disabled,
		&.disabled {
			color: var(--color-gray);
			pointer-events: none;
		}
	}
}

.loader {
	width: 1.5rem;

	& > g {
		stroke-width: 5px;
		transform: scale(0.9) translate(3px, 3px);
	}
}

</style>
