<template>
	<div
		:class="$style.container"
		:style="styles"
	>
		<slot />
	</div>
</template>

<script>
import breakpoints from "~/breakpoints";

export default {
	props: {
		size: {
			type: String,
			default: "",
		},
	},

	computed: {
		styles() {
			return {
				maxWidth: `${breakpoints[this.size]}px`,
			};
		},
	},
};
</script>

<style module>
	.container {
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
		padding-left: calc(var(--size-base) * 1);
		padding-right: calc(var(--size-base) * 1);
	}
</style>
