<template>
	<component
		:class="$style.title"
		:is="tag"
	>
		<slot />
	</component>
</template>

<script>
export default {
	props: {
		tag: {
			type: String,
			default: "h1",
		},
	},
};
</script>

<style module>
.title {
	line-height: 0.82;
	text-transform: uppercase;
	font-family: var(--font-family-headings);
	margin: 0;
	font-size: var(--ms6);

	@media (--breakpoint-md) {
		font-size: 5rem;
	}
}
</style>
