<template>
	<figure
		:class="figureClasses"
		:style="figureStyles"
	>
		<slot />
	</figure>
</template>

<script>
export default {

	props: {
		classes: {
			type: String,
			default: null,
		},

		aspectRatio: {
			type: String,
			default: "",
		},
	},

	computed: {
		figureClasses() {
			return [this.classes, this.$style.figure, this.fillClass];
		},

		fillClass() {
			return this.aspectRatio.length > 0 ? this.$style.fill : null;
		},

		figureStyles() {
			const styles = [];
			let aspectRatio;

			switch (this.aspectRatio) {
			case "fill":
				break;
			default:
				aspectRatio = this.aspectRatio.split("/");

				if (aspectRatio.length === 2) {
					const paddingBottom = (aspectRatio[1] / aspectRatio[0]) * 100;
					styles.push({ paddingBottom: `${paddingBottom}%` });
				}
			}

			return styles;
		},
	},

};
</script>

<style module>
.figure {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: var(--color-gray-very-light);
}

.fill > * {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
</style>
