<template>
	<span>{{ price }}</span>
</template>

<script>
export default {
	props: {
		value: {
			type: [Number, String],
			default: 0,
		},
	},

	computed: {
		price() {
			const { general: { language, currency } } = this.$store.state.settings;
			return parseFloat(this.value).toLocaleString(language, { style: "currency", currency });
		},
	},
};
</script>
