<template>
	<div
		:class="wrapperClassObject"
		v-observe-visibility="visibilityChanged"
	>
		<transition name="fade">
			<img
				v-cl-image="clImage"
				v-if="visible"
				ref="still"
				:sign_url="signUrl"
				:width="width"
				:dpr="dpr"
				:responsive="responsive"
				:aspect_ratio="aspectRatio"
				:fetch_format="fetchFormat"
				:quality="quality"
				:crop="crop"
				:gravity="gravity"
				:alt="alt"
				:class="stillClassObject"
				@load="handleLoad"
			>
		</transition>
	</div>
</template>

<script>
import "~/components/Animations/fade.css";

export default {

	data: () => ({
		visible: false,
		loaded: false,
	}),

	props: {
		src: {
			type: String,
			required: true,
		},
		alt: {
			type: String,
			required: true,
		},
		fill: {
			type: Boolean,
			default: false,
		},
		signUrl: {
			type: String,
			default: "true",
		},
		width: {
			type: String,
			default: "auto",
		},
		dpr: {
			type: String,
			default: "auto",
		},
		responsive: {
			type: String,
			default: "true",
		},
		aspectRatio: {
			type: String,
			default: "16:9",
		},
		fetchFormat: {
			type: String,
			default: "auto",
		},
		quality: {
			type: String,
			default: "auto:eco",
		},
		crop: {
			type: String,
			default: "fill",
		},
		gravity: {
			type: String,
			default: "auto",
		},
	},

	computed: {
		clImage() {
			return this.src;
		},

		stillClassObject() {
			return {
				[this.$style.still]: true,
				[this.$style.fill]: this.fill,
				[this.$style.fadable]: true,
				[this.$style.transparent]: !this.loaded,
			};
		},

		wrapperClassObject() {
			return {
				[this.$style.wrapper]: true,
				[this.$style.fill]: this.fill,
			};
		},
	},

	methods: {
		visibilityChanged(isVisible) {
			if (!this.visible) this.visible = isVisible;
		},

		handleLoad() {
			if (this.visible) {
				this.loaded = this.$refs.still.complete;
				this.$emit("loaded");
			}
		},
	},
};
</script>

<style module>

.wrapper {
	background-color: var(--color-gray-very-light);
}

.still,
.placeholder {
	position: relative;
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.still {
	z-index: 1;
	background: transparent;
	color: transparent;
}

.placeholder {
	z-index: 2;
}

</style>
