<template>
	<footer :class="$style.footer">
		<Container>
			<div :class="$style.primary">
				<Navigation
					:items="menuPrimary"
					:class="$style.nav"
					:nav-link-class="$style.navLink"
					:nav-link-active-class="$style.navLinkActive"
				/>
				<Navigation
					:items="menuLegal"
					:class="$style.nav"
					:nav-link-class="$style.navLink"
					:nav-link-active-class="$style.navLinkActive"
				/>
			</div>
		</Container>
		<Container>
			<div :class="$style.secondary">
				<div :class="$style.copy">
					© Royce 2013 - {{ yearNow }}.
					All rights reserved.
				</div>
				<div
					:class="[$style.credits, 'row']"
				>
					<div class="col-auto">
						Built by&nbsp;<a href="https://mrtnvh.com">@mrtnvh</a>
						with <a href="https://nuxtjs.org/">Nuxt</a>.
					</div>
					<div class="col-auto">
						<a href="https://gitlab.com/">View source code on Gitlab</a>
					</div>
				</div>
				<div :class="$style.paymentMethods">
					<PayPalIcon :class="$style.paymentMethodIcon" />
					<BancontactIcon :class="$style.paymentMethodIcon" />
					<MaestroIcon :class="$style.paymentMethodIcon" />
					<MastercardIcon :class="$style.paymentMethodIcon" />
					<VisaIcon :class="$style.paymentMethodIcon" />
				</div>
			</div>
		</Container>
	</footer>
</template>

<script>
import { format } from "date-fns";

const Container = () => import("~/components/Container.vue");

const Navigation = () => import("~/components/Navigation/Navigation.vue");
const PayPalIcon = () => import("~/components/PaymentMethods/paypal.svg");
const BancontactIcon = () => import("~/components/PaymentMethods/bancontact.svg");
const MaestroIcon = () => import("~/components/PaymentMethods/maestro.svg");
const MastercardIcon = () => import("~/components/PaymentMethods/mastercard.svg");
const VisaIcon = () => import("~/components/PaymentMethods/visa.svg");

export default {
	components: {
		Container,
		Navigation,
		PayPalIcon,
		BancontactIcon,
		MaestroIcon,
		MastercardIcon,
		VisaIcon,
	},
	computed: {
		menuPrimary() {
			return this.$store.state.navigation.primary;
		},

		menuLegal() {
			return this.$store.state.navigation.legal;
		},

		yearNow() {
			return format(new Date(), "yyyy");
		},
	},
};
</script>

<style module>

.footer {
	color: var(--color-gray);
	background-color: var(--color-gray-very-light);
	padding: calc(var(--size-base) / 1) 0;
}

.footer a {
	color: var(--color-gray);
}

.primary,
.secondary {
	font-size: var(--font-size-small);
	text-align: center;
	padding: calc(var(--size-base) / 4) 0;

	@media (--breakpoint-sm) {
		display: grid;
		grid-column-gap: var(--size-base);
		grid-template-columns: repeat(auto-fit, minmax(0, auto));
		justify-content: space-between;
		align-items: center;
	}
}

.secondary {
	@media (--breakpoint-xs-max) {
		display: flex;
		flex-direction: column-reverse;
	}

	@media (--breakpoint-md) {
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	}

	& a {
		text-decoration: underline;
	}

	& > div {
		padding: calc(var(--size-base) / 2) 0;

		@media (--breakpoint-md) {
			padding: 0;
		}
	}

	& > div:first-child {
		@media (--breakpoint-sm) {
			text-align: left;
		}
	}

	& > div:last-child {
		@media (--breakpoint-sm) {
			text-align: right;
		}
	}
}

.credits {
	display: block;

	@media (--breakpoint-md) {
		display: flex;
	}

	& > div {
		padding-top: calc(var(--size-base) / 2);
		padding-bottom: calc(var(--size-base) / 2);
	}
}


/*
* Navigation
*/
.nav {
	display: grid !important;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--size-base);
	align-items: center;

	@media (--breakpoint-sm) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.navLink {
	display: block;
	font-family: var(--font-family-headings);
	padding: calc(var(--size-base) / 2) 0;
	color: var(--color-gray);

	@media (--breakpoint-md) {
		padding: var(--size-base) 0;
	}

	&:hover,
	&:focus {
		text-decoration: none;
		color: var(--color-primary);
	}
}

.navLinkActive {
	color: var(--color-primary);
}

.paymentMethodIcon {
	height: 2.5rem;
	opacity: 0.33;

	@media (--breakpoint-md) {
		height: 3rem;
	}
}
</style>
