<template>
	<header
		ref="header"
		:class="$style.header"
	>
		<Container>
			<div :class="['row', 'justify-content-between', 'align-items-center']">

				<nuxt-link
					to="/"
					:class="[$style.logo, $style.imageWrapper, 'col-auto']"
				>
					<Logo :class="[$style.image]" />
				</nuxt-link>

				<Navigation
					:items="menuPrimary"
					:nav-class="$style.nav"
					:nav-link-class="$style.navLink"
					:nav-link-active-class="$style.navLinkActive"
				/>

				<MiniCart
					:class="[$style.cart, $style.imageWrapper, 'col-auto']"
					:icon-class="[$style.image]"
				/>
			</div>
		</Container>
		<slot />
	</header>
</template>

<script>
import Logo from "~/components/Brand/royce-logo-2016.svg";

const Container = () => import("~/components/Container.vue");
const MiniCart = () => import("~/components/Cart/Mini.vue");
const Navigation = () => import("~/components/Navigation/Navigation.vue");

export default {
	components: {
		Logo,
		MiniCart,
		Container,
		Navigation,
	},
	computed: {
		menuPrimary() {
			return this.$store.state.navigation.primary;
		},
	},

	mounted() {
		this.$nextTick(() => {
			this.$store.dispatch("app/setAppHeaderHeight", this.$refs.header.clientHeight);
		});
	},
};
</script>


<style module>
.header {
	background-color: var(--color-text);
	color: var(--color-inverse);
	position: sticky;
	top: 0;
	z-index: var(--z-index-header);
}

.headerInner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.imageWrapper {
	display: inline-flex;

	& .image {
		height: calc(var(--size-base) / 1.5);

		@media (--breakpoint-xs) {
			height: calc(var(--size-base) / 1.25);
		}
	}

	& .image > * {
		fill: var(--color-inverse);
	}

	&:hover .image > * {
		fill: var(--color-primary);
	}
}

.logo {
	padding-top: calc(var(--size-base) / 1.5);
	padding-bottom: calc(var(--size-base) / 1.5);

	@media (--breakpoint-xs) {
		padding-top: calc(var(--size-base) / 1.125);
		padding-bottom: calc(var(--size-base) / 1.125);
	}
}

.cart {
	padding-top: calc(var(--size-base) / 2.5);
	padding-bottom: calc(var(--size-base) / 2.5);

	& .image {
		height: calc(var(--size-base) / 1.25);

		@media (--breakpoint-xs) {
			height: var(--size-base);
		}
	}

	@media (--breakpoint-xs) {
		padding-top: calc(var(--size-base));
		padding-bottom: calc(var(--size-base));
	}
}


.nav {
	display: none !important;

	@media (--breakpoint-sm) {
		display: flex !important;
	}
}

.navLink {
	display: block;
	font-family: var(--font-family-headings);
	padding: var(--size-base);
	color: var(--color-inverse);

	&:hover,
	&:focus {
		text-decoration: none;
		color: var(--color-primary);
	}
}

.navLinkActive {
	color: var(--color-primary);
}
</style>
