<template>
	<div>
		<div class="row align-items-baseline">
			<div class="col col-auto">
				<h2>1. Billing</h2>
			</div>
			<div
				class="col"
				v-if="!editable && !initial"
			>
				<p>
					<Btn
						@click.native="edit"
						variant="link"
						:class="$style.edit"
					>
						Edit
					</Btn>
				</p>
			</div>
		</div>

		<div class="pl-1">
			<p v-if="editable">Please provide us with your billing information.</p>

			<b-form
				v-if="editable"
				@submit.prevent="submit"
			>

				<!-- Name -->
				<div class="row">
					<div class="col">
						<b-form-group
							id="firstNameGroup"
							label="First name *"
							label-for="firstName"
							label-sr-only
							:state="!errors.has('firstName')"
							:invalid-feedback="errors.first('firstName')"
						>
							<b-form-input
								id="firstName"
								name="firstName"
								placeholder="First name *"
								:state="!errors.has('firstName') ? null : false"
								data-vv-as="First name"
								v-validate="'required'"
								v-model="firstName"
							/>
						</b-form-group>
					</div>
					<div class="col">
						<b-form-group
							id="lastNameGroup"
							label="Last name *"
							label-for="lastName"
							label-sr-only
							:state="!errors.has('lastName')"
							:invalid-feedback="errors.first('lastName')"
						>
							<b-form-input
								id="lastName"
								name="lastName"
								placeholder="Last name *"
								:state="!errors.has('lastName') ? null : false"
								v-validate="'required'"
								data-vv-as="Last name"
								v-model="lastName"
							/>
						</b-form-group>
					</div>
				</div>

				<!-- Address 1 -->
				<b-form-group
					id="address1Group"
					label="Address 1 *"
					label-for="address1"
					label-sr-only
					:state="!errors.has('address1')"
					:invalid-feedback="errors.first('address1')"
				>
					<b-form-input
						id="address1"
						name="address1"
						placeholder="Address 1 *"
						:state="!errors.has('address1') ? null : false"
						v-validate="'required'"
						data-vv-as="Address 1"
						v-model="address1"
					/>
				</b-form-group>

				<!-- Address 2 -->
				<b-form-group
					id="address2Group"
					label="Address 2"
					label-for="address2"
					label-sr-only
					:state="!errors.has('address2')"
					:invalid-feedback="errors.first('address2')"
				>
					<b-form-input
						id="address2"
						name="address2"
						placeholder="Address 2"
						:state="!errors.has('address2') ? null : false"
						data-vv-as="Address 2"
						v-model="address2"
					/>
				</b-form-group>

				<!-- Postcode -->
				<div class="row">
					<div class="col-auto w-8">
						<b-form-group
							id="postcodeGroup"
							label="Postcode *"
							label-for="postcode"
							label-sr-only
							:state="!errors.has('postcode')"
							:invalid-feedback="errors.first('postcode')"
						>
							<b-form-input
								id="postcode"
								name="postcode"
								placeholder="Postcode *"
								:state="!errors.has('postcode') ? null : false"
								v-validate="'required'"
								data-vv-as="Postcode"
								v-model="postcode"
							/>
						</b-form-group>
					</div>

					<!-- City -->
					<div class="col">
						<b-form-group
							id="cityGroup"
							label="City *"
							label-for="city"
							label-sr-only
							:state="!errors.has('city')"
							:invalid-feedback="errors.first('city')"
						>
							<b-form-input
								id="city"
								name="city"
								placeholder="City *"
								:state="!errors.has('city') ? null : false"
								v-validate="'required'"
								data-vv-as="City"
								v-model="city"
							/>
						</b-form-group>

					</div>
				</div>

				<!-- Country -->
				<b-form-group
					id="countryGroup"
					label="Country *"
					label-for="country"
					label-sr-only
					:state="!errors.has('country')"
					:invalid-feedback="errors.first('country')"
				>
					<no-ssr>
						<CountrySelect
							id="country"
							name="country"
							class="custom-v-select"
							placeholder="Country *"
							:state="!errors.has('country') ? null : false"
							v-validate="'required'"
							data-vv-as="Country"
							v-model="country"
						/>
					</no-ssr>
				</b-form-group>

				<div class="row justify-content-end">
					<div class="col-auto">
						<Btn
							type="submit"
							variant="dark"
							size="sm"
						>
							Next step
							<FontAwesomeIcon
								slot="append"
								:icon="faChevronRight"
								size="xs"
							/>
						</Btn>
					</div>
				</div>

			</b-form>

			<div v-if="!editable && !initial">
				<template v-if="firstName">{{ firstName }}</template>
				<template v-if="lastName">{{ lastName }}</template>
				<br>
				<template v-if="address1">{{ address1 }}</template>
				<template v-if="address2">{{ address2 }}</template>
				<br>
				<template v-if="postcode">{{ postcode }}</template>
				<template v-if="city">{{ city }}</template>
				<br>
				<template v-if="state">{{ state }}</template>
				<Country
					v-if="country"
					v-model="country"
				/>
				<template v-if="email">{{ email }}</template>
				<template v-if="phone">{{ phone }}</template>
			</div>
		</div>
	</div>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import mixins from "./mixins";

export default {
	mixins: [mixins],

	computed: {
		...mapFields("order", {
			firstName: "single.billing.firstName",
			lastName: "single.billing.lastName",
			address1: "single.billing.address1",
			address2: "single.billing.address2",
			city: "single.billing.city",
			state: "single.billing.state",
			postcode: "single.billing.postcode",
			country: "single.billing.country",
			email: "single.billing.email",
			phone: "single.billing.phone",
		}),

		initial() {
			return !Object.values(this.$store.state.order.single.billing).some(value => value);
		},
	},
};
</script>

<style module>
.edit {
	font: var(--font-family-base);
	padding: 0 !important;
}
</style>
