<template>
	<div>
		<h2>4. Place your order</h2>

		<div
			class="pl-1"
			v-if="editable"
		>
			<p>How would you like to pay for your order?</p>

			<Btn
				type="submit"
				variant="primary"
			>
				Place your order
				<FontAwesomeIcon
					slot="append"
					:icon="faChevronRight"
				/>
			</Btn>
		</div>
	</div>
</template>

<script>
import mixins from "./mixins";

export default {

	mixins: [mixins],
};
</script>
