<template>
	<div>
		<div class="row align-items-baseline">
			<div class="col col-auto">
				<h2>3. Payment method</h2>
			</div>
			<div
				class="col"
				v-if="!editable && !initial"
			>
				<p>
					<Btn
						@click.native="edit"
						variant="link"
						:class="$style.edit"
					>
						Edit
					</Btn>
				</p>
			</div>
		</div>

		<div class="pl-1">
			<template v-if="editable">
				<p>How would you like to pay for your order?</p>

				<button
					v-for="paymentGateway in paymentGateways"
					:key="paymentGateway.id"
					@click="select(paymentGateway)"
					class="btn-reset"
					:class="[
						$style.paymentGateway,
						selected === paymentGateway.id ? $style.active : null
					]"
				>
					<h3 :class="$style.title">{{ paymentGateway.title }}</h3>
					<div :class="$style.description">{{ paymentGateway.description }}</div>
				</button>

				<div class="row justify-content-end">
					<div class="col-auto">
						<Btn
							variant="dark"
							size="sm"
							@click.native="submit"
						>
							Next step
							<FontAwesomeIcon
								slot="append"
								:icon="faChevronRight"
								size="xs"
							/>
						</Btn>
					</div>
				</div>
			</template>
		</div>
	</div>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import mixins from "./mixins";

export default {

	mixins: [mixins],

	data: () => ({
		selected: null,
	}),

	computed: {
		paymentMethod: {
			get() {
				return {
					id: this.paymentMethodId,
					title: this.paymentMethodHeadline,
				};
			},
			set({ id, title }) {
				this.paymentMethodId = id;
				this.paymentMethodHeadline = title;
			},
		},

		...mapFields("order", {
			paymentMethodId: "single.paymentMethod",
			paymentMethodTitle: "single.paymentMethodTitle",
		}),

		paymentGateways() {
			return this.$store.getters["paymentGateway/listEnabled"];
		},

		initial() {
			return this.paymentMethodId === null;
		},
	},

	methods: {
		select({ id, title }) {
			this.selected = id;
			this.paymentMethodId = id;
			this.paymentMethodTitle = title;
		},
	},

	async beforeCreate() {
		await this.$store.dispatch("paymentGateway/getList");
	},
};
</script>

<style module>
.edit {
	font: var(--font-family-base);
	padding: 0 !important;
}

.paymentGateway {
	text-align: left;
	display: block;
	margin-bottom: calc(var(--size-base) / 4);
	border: 1px solid var(--color-gray-dark);
	padding: var(--size-base);
	width: 100%;

	&:hover,
	&:focus,
	&:active {
		background-color: rgba(255, 107, 107, 0.2);
		outline: none;
	}

	&.active {
		color: var(--color-primary);
		border-color: var(--color-primary);
		background-color: rgba(255, 107, 107, 0.2);
	}
}

.title {
	margin: 0;
}

/* .description {} */
</style>
