<template>
	<div>
		<div class="row align-items-baseline">
			<div class="col col-auto">
				<h2>2. Shipping</h2>
			</div>
			<div
				class="col"
				v-if="!editable && !initial"
			>
				<p>
					<Btn
						@click.native="edit"
						variant="link"
						:class="$style.edit"
					>
						Edit
					</Btn>
				</p>
			</div>
		</div>

		<p v-if="editable">Whereto may send your order?</p>

		<b-form
			v-if="editable"
			@submit.prevent="submit"
		>

			<b-form-group label="Which address?">
				<b-form-radio-group
					v-model="shippingEqualsBilling"
					name="shippingOptions"
					:options="shippingOptions"
				/>
			</b-form-group>

			<template v-if="!shippingEqualsBilling">

				<!-- Name -->
				<div class="row">
					<div class="col">
						<b-form-group
							id="firstNameGroup"
							label="First name *"
							label-for="firstName"
							label-sr-only
							:state="!errors.has('firstName')"
							:invalid-feedback="errors.first('firstName')"
						>
							<b-form-input
								id="firstName"
								name="firstName"
								placeholder="First name *"
								:state="!errors.has('firstName') ? null : false"
								data-vv-as="First name"
								v-validate="'required'"
								v-model="firstName"
							/>
						</b-form-group>
					</div>
					<div class="col">
						<b-form-group
							id="lastNameGroup"
							label="Last name *"
							label-for="lastName"
							label-sr-only
							:state="!errors.has('lastName')"
							:invalid-feedback="errors.first('lastName')"
						>
							<b-form-input
								id="lastName"
								name="lastName"
								placeholder="Last name *"
								:state="!errors.has('lastName') ? null : false"
								v-validate="'required'"
								data-vv-as="Last name"
								v-model="lastName"
							/>
						</b-form-group>
					</div>
				</div>

				<!-- Address 1 -->
				<b-form-group
					id="address1Group"
					label="Address 1 *"
					label-for="address1"
					label-sr-only
					:state="!errors.has('address1')"
					:invalid-feedback="errors.first('address1')"
				>
					<b-form-input
						id="address1"
						name="address1"
						placeholder="Address 1 *"
						:state="!errors.has('address1') ? null : false"
						v-validate="'required'"
						data-vv-as="Address 1"
						v-model="address1"
					/>
				</b-form-group>

				<!-- Address 2 -->
				<b-form-group
					id="address2Group"
					label="Address 2"
					label-for="address2"
					label-sr-only
					:state="!errors.has('address2')"
					:invalid-feedback="errors.first('address2')"
				>
					<b-form-input
						id="address2"
						name="address2"
						placeholder="Address 2"
						:state="!errors.has('address2') ? null : false"
						data-vv-as="Address 2"
						v-model="address2"
					/>
				</b-form-group>

				<!-- Postcode -->
				<div class="row">
					<div class="col-auto w-8">
						<b-form-group
							id="postcodeGroup"
							label="Postcode *"
							label-for="postcode"
							label-sr-only
							:state="!errors.has('postcode')"
							:invalid-feedback="errors.first('postcode')"
						>
							<b-form-input
								id="postcode"
								name="postcode"
								placeholder="Postcode *"
								:state="!errors.has('postcode') ? null : false"
								v-validate="'required'"
								data-vv-as="Postcode"
								v-model="postcode"
							/>
						</b-form-group>
					</div>

					<!-- City -->
					<div class="col">
						<b-form-group
							id="cityGroup"
							label="City *"
							label-for="city"
							label-sr-only
							:state="!errors.has('city')"
							:invalid-feedback="errors.first('city')"
						>
							<b-form-input
								id="city"
								name="city"
								placeholder="City *"
								:state="!errors.has('city') ? null : false"
								v-validate="'required'"
								data-vv-as="City"
								v-model="city"
							/>
						</b-form-group>

					</div>
				</div>

				<!-- Country -->
				<b-form-group
					id="countryGroup"
					label="Country *"
					label-for="country"
					label-sr-only
					:state="!errors.has('country')"
					:invalid-feedback="errors.first('country')"
				>
					<no-ssr>
						<CountrySelect
							id="country"
							name="country"
							class="custom-v-select"
							placeholder="Country *"
							:state="!errors.has('country') ? null : false"
							v-validate="'required'"
							data-vv-as="Country"
							v-model="country"
						/>
					</no-ssr>
				</b-form-group>

				<Btn
					type="submit"
					variant="dark"
				>
					Next step
					<FontAwesomeIcon
						slot="append"
						:icon="faChevronRight"
						size="xs"
					/>
				</Btn>
			</template>

		</b-form>

		<div v-if="(!editable && !initial)">
			<template v-if="firstName">{{ firstName }}</template>
			<template v-if="lastName">{{ lastName }}</template>
			<br>
			<template v-if="address1">{{ address1 }}</template>
			<template v-if="address2">{{ address2 }}</template>
			<br>
			<template v-if="postcode">{{ postcode }}</template>
			<template v-if="city">{{ city }}</template>
			<br>
			<template v-if="state">{{ state }}</template>
			<Country
				v-if="country"
				v-model="country"
			/>
		</div>

	</div>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import { defaultShipping } from "~/store/order";
import mixins from "./mixins";

export default {
	mixins: [mixins],

	data: () => ({
		shippingOptions: [
			{ text: "Same address as billing", value: true },
			{ text: "Different address", value: false },
		],
	}),

	computed: {
		...mapFields("order", {
			shipping: "single.shipping",
			billing: "single.billing",
			firstName: "single.shipping.firstName",
			lastName: "single.shipping.lastName",
			address1: "single.shipping.address1",
			address2: "single.shipping.address2",
			city: "single.shipping.city",
			state: "single.shipping.state",
			postcode: "single.shipping.postcode",
			country: "single.shipping.country",
			email: "single.shipping.email",
			phone: "single.shipping.phone",
		}),

		shippingEqualsBilling: {
			get() {
				return this.$store.getters["order/getField"]("single.shipping.shippingEqualsBilling");
			},

			set(value) {
				console.log(value);
				this.$store.commit("order/updateField", {
					path: "single.shippingEqualsBilling",
					value,
				});

				if (value) {
					this.shipping = {
						...this.billing,
						...{
							email: undefined,
							phone: undefined,
						},
					};
				} else {
					this.shipping = { ...defaultShipping };
				}
			},
		},

		initial() {
			return !Object.values(this.$store.state.order.single.shipping).some(value => value);
		},
	},
};
</script>

<style module>
.edit {
	font: var(--font-family-base);
	padding: 0 !important;
}
</style>
