<template>
	<div :class="$style.menu">
		<Navigation
			:items="menuPrimary"
			:nav-class="$style.nav"
			:nav-link-class="$style.navLink"
			:nav-icon-class="$style.navIcon"
			:nav-link-active-class="$style.navLinkActive"
			:icon="true"
		/>
	</div>
</template>

<script>
import { TOGGLE_MENU } from "~/store/offCanvasMenu";

const Navigation = () => import("~/components/Navigation/Navigation.vue");

export default {

	components: {
		Navigation,
	},

	computed: {
		menuPrimary() {
			return [
				...this.$store.state.navigation.primary,
				...[{
					onClick: this.onMoreClick,
					title: "More",
					icon: "ellipsis",
				}],
			];
		},
	},

	methods: {
		onMoreClick() {
			this.$store.dispatch(`offCanvasMenu/${TOGGLE_MENU}`);
		},
	},
};
</script>

<style module>
.menu {
	position: sticky;
	z-index: var(--z-index-header);
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--background-inverse);
	color: var(--color-inverse);
}


/*
* Navigation
*/
.nav {
	display: flex !important;
	justify-content: space-around;
}

.navLink {
	display: flex !important;
	flex-direction: column;
	font-family: var(--font-family-headings);
	padding: calc(var(--size-base) / 2) calc(var(--size-base) / 2);
	color: var(--color-inverse);
	text-align: center;
	font-size: var(--font-size-extra-small);

	@media (--breakpoint-xs) {
		padding: calc(var(--size-base) / 2);
	}

	&:hover,
	&:focus,
	&.navLinkActive {
		text-decoration: none;
		color: var(--color-primary);

		& .navIcon > * {
			fill: var(--color-primary);
		}
	}
}

.navIcon {
	height: calc(var(--size-base) / 1.25);
	margin-bottom: calc(var(--size-base) / 3);

	@media (--breakpoint-xs) {
		height: var(--size-base);
		margin-bottom: calc(var(--size-base) / 4);
	}

	& > * {
		fill: var(--color-inverse);
	}
}
</style>
