<template>
	<nav :class="nav">
		<div
			v-for="item in items"
			:key="item.routeName"
		>
			<button
				v-if="item.onClick"
				:class="[navLink, 'btn-reset']"
				@click="item.onClick"
			>
				<component
					v-if="icon"
					:is="getIcon(item.icon)"
					:class="navIcon"
				/>
				{{ item.title }}
			</button>

			<nuxt-link
				v-else
				:class="navLink"
				:active-class="navLinkActive"
				:to=" {name: item.routeName}"
			>
				<component
					v-if="icon"
					:is="getIcon(item.icon)"
					:class="navIcon"
				/>
				{{ item.title }}
			</nuxt-link>
		</div>
	</nav>
</template>

<script>
const BeerIcon = () => import("~/components/Navigation/beer.svg");
const HeadphonesIcon = () => import("~/components/Navigation/headphones.svg");
const ShirtIcon = () => import("~/components/Navigation/shirt.svg");
const EllipsisIcon = () => import("~/components/Navigation/ellipsis.svg");

export default {

	name: "Navigation",

	props: {
		items: {
			required: true,
			type: Array,
		},

		icon: {
			type: Boolean,
			default: false,
		},

		navClass: {
			default: "",
			type: String,
		},

		navLinkClass: {
			default: "",
			type: String,
		},

		navLinkActiveClass: {
			default: "",
			type: String,
		},

		navIconClass: {
			default: "",
			type: String,
		},
	},

	computed: {
		nav() {
			return [
				this.$style.nav,
				this.navClass,
			].join(" ");
		},
		navLink() {
			return [
				this.$style.navLink,
				this.navLinkClass,
			].join(" ");
		},
		navLinkActive() {
			return [
				this.$style.navLinkActive,
				this.navLinkActiveClass,
			].join(" ");
		},
		navIcon() {
			return [
				this.$style.navIcon,
				this.navIconClass,
			].join(" ");
		},
	},

	methods: {
		getIcon(iconName) {
			let icon;
			switch (iconName) {
			case "beer":
				icon = BeerIcon;
				break;
			case "headphones":
				icon = HeadphonesIcon;
				break;
			case "shirt":
				icon = ShirtIcon;
				break;
			case "ellipsis":
				icon = EllipsisIcon;
				break;
			default:
				icon = null;
			}

			return icon;
		},
	},
};
</script>

<style module>
.nav {
	display: flex;
}

.navLink {
	display: block;
}

.navLinkActive {
	color: var(--color-primary);
}

.navIcon {
	display: inline-block;
}
</style>
