<template>
	<a
		:class="$style.provider"
		:href="provider.url"
		target="_blank"
		rel="noopener"
	>
		<transition name="fade">
			<div
				v-show="stillLoaded"
				:class="$style.content"
			>
				<font-awesome-icon
					:icon="provider.icon"
					:class="[$style.fa, $style.icon]"
				/>
				<div :class="$style.name">
					{{ provider.name }}
				</div>
			</div>
		</transition>
		<Media
			:class="$style.media"
			aspect-ratio="16/9"
		>
			<Still
				:src="provider.background.publicId"
				:alt="provider.background.alt"
				:fill="true"
				@loaded="stillLoaded = true"
			/>
		</Media>
	</a>
</template>

<script>
import "~/components/Animations/fade.css";
import { DEFAULT_VALUE as defaultValue } from "~/store/provider";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

const Media = () => ({
	component: import("~/components/Media.vue"),
});

const Still = () => ({
	component: import("~/components/Still.vue"),
});

export default {
	components: {
		Media,
		Still,
		FontAwesomeIcon,
	},

	data() {
		return {
			stillLoaded: false,
		};
	},

	props: {
		provider: {
			type: Object,
			default: () => (defaultValue),
		},
	},
};
</script>

<style module>
.provider {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	width: 100%;

	&::after,
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 333ms ease-in-out;
		background-color: var(--color-gray-dark);
	}

	&::before {
		z-index: 3;
	}

	&::after {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	&:hover {
		&::after {
			opacity: 1;
		}

		&::before {
			opacity: 0.5;
		}

		& .name {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}

		& .icon {
			transform: translate3d(0, 0, 0);
		}
	}
}

.media {
	position: relative;
	z-index: 2;
}

.content {
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
}

.name {
	color: var(--color-inverse);
	font-family: var(--font-family-headings);
	font-size: 1.5rem;
	text-transform: uppercase;
	transform: translate3d(0, 100%, 0);
	opacity: 0;
	transition: transform 333ms ease-in-out, opacity 333ms ease-in-out;
}

.fa.icon {
	width: 25vw;
	height: 25vw;

	max-width: calc(var(--size-base) * 15);
	max-height: calc(var(--size-base) * 15);

	transform: translate3d(0, 1rem, 0);
	transition: transform 333ms ease-in-out;

	@media (--breakpoint-sm) {
		width: 12.5vw;
		height: 12.5vw;
	}

	& * {
		fill: var(--color-inverse);
	}
}
</style>
