<template>
	<div :class="$style.providers">
		<slot />
	</div>
</template>

<script>
export default {};
</script>

<style module>
.providers {
	display: grid;
	grid-gap: var(--size-base);
	justify-items: stretch;
	align-items: stretch;

	@media (--breakpoint-sm) {
		grid-template-columns: repeat(2, 1fr);
	}
}
</style>
