@font-face {
	font-family: "HK Grotesk";
	font-style: normal;
	font-weight: 300;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-Light.woff2") format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-Light.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: normal;
	font-weight: 400;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: normal;
	font-weight: 500;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-Medium.woff2") format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-Medium.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: normal;
	font-weight: 600;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-SemiBold.woff2") format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: normal;
	font-weight: 700;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-Bold.woff2") format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-Bold.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: italic;
	font-weight: 300;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-LightItalic.woff2")
		format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-LightItalic.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: italic;
	font-weight: 400;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-Italic.woff2") format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-Italic.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: italic;
	font-weight: 500;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-MediumItalic.woff2")
		format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-MediumItalic.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: italic;
	font-weight: 600;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.woff2")
		format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.woff") format("woff");
}

@font-face {
	font-family: "HK Grotesk";
	font-style: italic;
	font-weight: 700;
	src: url("~assets/fonts/hk-grotesk/HKGrotesk-BoldItalic.woff2")
		format("woff2"),
		url("~assets/fonts/hk-grotesk/HKGrotesk-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "Bourbon Grotesque";
	src: url("~assets/fonts/bourbon-grotesque/BourbonGrotesque-Regular.woff2")
		format("woff2"),
		url("~assets/fonts/bourbon-grotesque/BourbonGrotesque-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}
