/* ---------------------------------------
 * Root
 * ------------------------------------ */

html {
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-family-base);
	font-weight: var(--font-weight-base);
	font-size: var(--font-size-base);
	line-height: 1.5;
}

html,
body,
#__nuxt,
#__layout {
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin-top: calc(var(--size-base));
	margin-bottom: calc(var(--size-base));
}

a {
	color: var(--color-primary);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

figure {
	margin: 0;
	padding: 0;
}

p,
blockquote {
	margin: 0 0 var(--size-base) 0;
	padding: 0;
}
