.dropdown-toggle {
	.custom-v-select.v-select & {
		border: $input-border-width solid $input-border-color;
		border-radius: 0;
		padding: 0;

		.clear {
			font-size: var(--ms2);
			font-weight: var(--font-weight-base);
			margin-right: 0;
			color: $input-border-color;
			padding: 4px calc(var(--size-base) / 2) 0 0;
		}
	}

	.custom-v-select.v-select.open & {
		border-color: $input-focus-border-color;
		border-bottom-color: transparent;
		box-shadow: $input-btn-focus-box-shadow;
	}
}

.dropdown-menu {
	.custom-v-select.v-select & {
		border-color: $input-border-color;
		border-radius: none;

		& > .highlight > a {
			background-color: var(--color-primary);
		}

		& > .active > a {
			background-color: var(--color-gray-light);
		}
	}

	.custom-v-select.v-select.open & {
		border-color: $input-focus-border-color;
		box-shadow: $input-btn-focus-box-shadow;
	}
}

input[type="search"] {
	.custom-v-select.v-select & {
		&,
		&:focus {
			margin-top: 0;
		}
	}
}

.selected-tag {
	.custom-v-select.v-select.single.open & {
		top: 4px;
	}
}

.open-indicator {
	.custom-v-select.v-select & {
		width: var(--size-base);

		&::before {
			border-width: $input-border-width $input-border-width 0 0;
			width: var(--font-size-extra-small);
			height: var(--font-size-extra-small);
			transform-origin: 66.66% 66.66%;
			transform: rotate(133deg) translateY(calc(var(--size-base) / 8));
		}
	}

	.custom-v-select.v-select.open & {
		&::before {
			transform: rotate(315deg) translateY(calc(var(--size-base) / 8));
		}
	}
}
