/* stylelint-disable max-nesting-depth */

/* ---------------------------------------
 * Table
 * ------------------------------------ */

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.table#{$infix} {
			display: table;
		}

		.thead#{$infix} {
			display: table-header-group;
		}

		.tbody#{$infix} {
			display: table-row-group;
		}

		.tfoot#{$infix} {
			display: table-row-group;
		}

		.tr#{$infix} {
			display: table-row;
		}

		.td#{$infix},
		.th#{$infix} {
			display: table-cell;
			vertical-align: middle;
		}

		th,
		.th#{$infix} {
			font-weight: var(--font-weight-bold);
			text-align: left;
		}

		table,
		.table#{$infix} {
			width: 100%;
			border-collapse: collapse;

			& th,
			& .th#{$infix},
			& td,
			& .td#{$infix} {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipse;
				padding: calc(var(--size-base) / 2);
				border-top: 1px solid var(--color-gray-light);

				&.fill {
					width: 100%;
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					text-align: right;
					padding-right: 0;
				}
			}

			& > thead,
			& > .thead#{$infix},
			// & > tbody,
			// & > .tbody#{$infix},
			& > tfoot,
			& > .tfoot#{$infix} {
				& > tr,
				& > .tr#{$infix} {
					&:first-child {
						& > th,
						& > .th#{$infix},
						& > td,
						& > .td#{$infix} {
							border-top: 0;
						}
					}
				}
			}

			& > tbody,
			& > .tbody#{$infix} {
				// &:not(tbody ~ tbody),
				// &:not(.tbody#{$infix} ~ .tbody#{$infix}) {
				& > tr,
				& > .tr#{$infix} {
					&:first-child {
						& > th,
						& > .th#{$infix},
						& > td,
						& > .td#{$infix} {
							border-top: 1px solid var(--color-gray-dark);
						}
					}

					// }

					// }

					// &:not(tbody + tbody),
					// &:not(.tbody#{$infix} + .tbody#{$infix}) {
					// & > tr,
					// & > .tr#{$infix} {
					&:last-child {
						& > th,
						& > .th#{$infix},
						& > td,
						& > .td#{$infix} {
							border-bottom: 1px solid var(--color-gray-dark);
						}
					}
				}

				// }
			}

			// & > thead,
			// & > .thead#{$infix} {
			// 	& > tr,
			// 	& > .tr#{$infix} {
			// 		&:first-child {
			// 			& > th,
			// 			& > .th#{$infix},
			// 			& > td,
			// 			& > .td#{$infix} {
			// 				border-bottom: 1px solid var(--color-gray-dark);
			// 			}
			// 		}
			// 	}
			// }

			// & > tfoot,
			// & > .tfoot#{$infix} {
			// 	& > tr,
			// 	& > .tr#{$infix} {
			// 		&:first-child {
			// 			& > th,
			// 			& > .th#{$infix},
			// 			& > td,
			// 			& > .td#{$infix} {
			// 				border-top: 1px solid var(--color-gray-dark);
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}
