/* ---------------------------------------
 * Utilities
 * ------------------------------------ */

/* Grid ------------------------------- */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(var(--size-base) / -2);
	margin-right: calc(var(--size-base) / -2);

	&.row-sm {
		margin-left: calc(var(--size-base) / -4);
		margin-right: calc(var(--size-base) / -4);
	}
}

[class*="col"] {
	padding-left: calc(var(--size-base) / 2);
	padding-right: calc(var(--size-base) / 2);
}

.row-sm {
	& > [class*="col"] {
		padding-left: calc(var(--size-base) / 4);
		padding-right: calc(var(--size-base) / 4);
	}
}

.col {
	flex: 1 1 auto;
}

.col-auto {
	flex: 0 1 auto;
}

/* Flexbox ---------------------------- */
.flex {
	display: flex;
}

.flex-inline {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.grow-children > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
/* stylelint-enable */

/* Text ---------------------------- */
.text-sm {
	font-size: var(--ms-1);
}

/* Width ---------------------------- */
.w-2 {
	width: calc(var(--size-base) * 2);
}

.w-3 {
	width: calc(var(--size-base) * 3);
}

.w-8 {
	width: calc(var(--size-base) * 8);
}

/* Padding ---------------------------- */
.pl-0_33 {
	padding-left: calc(var(--size-base) / 3);
}

.pl-1 {
	padding-left: calc(var(--size-base) / 1);
}
