/* ---------------------------------------
 * CSS Variables
 * ------------------------------------ */

:root {
	/* Space rythm */
	--ms-base: 1rem;
	--ms-ratio: var(--major-third);

	/* Colors */
	--color-white: rgba(255, 255, 255, 1);
	--color-primary: rgba(255, 107, 107, 1);
	--color-primary-dark: rgba(177, 65, 65, 1);
	--color-secondary: rgba(114, 205, 65, 1);
	--color-success: var(--color-secondary);
	--color-danger: var(--color-primary);
	--color-gray-very-light: rgba(248, 249, 250, 1);
	--color-gray-light: rgba(222, 226, 230, 1);
	--color-gray: rgba(134, 142, 150, 1);
	--color-gray-dark: rgba(17, 17, 17, 1);
	--color-text: var(--color-gray-dark);
	--color-inverse: var(--color-white);
	--background: var(--color-inverse);
	--background-inverse: var(--color-text);

	/* Fonts */
	--font-size-base: 1rem;
	--font-size-small: var(--ms-1);
	--font-size-extra-small: var(--ms-2);
	--font-family-base: "HK Grotesk", "system-ui";
	--font-weight-base: 500;
	--font-weight-bold: 700;

	/* Headings */
	--font-family-headings: "Bourbon Grotesque", "system-ui";

	/* Styles */
	--border-size-base: 4px;
	--size-base: var(--ms2);

	/* Animations */
	--transition-duration-base: 1s;
	--transition-timing-function-base: cubic-bezier(1, 0, 0, 1);

	/* Layouts */
	--z-index-header: 9010;
	--z-index-offcanvasmenu: 9000;

	/* Btns */
	--btn-padding-vertical: calc(var(--size-base) / 2);
	--btn-padding-horizontal: var(--size-base);
	--btn-lg-vertical: calc(var(--size-base) / 2);
	--btn-lg-padding-horizontal: var(--size-base);
}

/* ---------------------------------------
 * SCSS Variables
 * ------------------------------------ */
$enable-rounded: false;
$enable-shadows: false;
$enable-transitions: true;
$enable-gradients: false;

/* Colors ---------------------------- */
$primary: rgba(255, 107, 107, 1);
$white: rgba(255, 255, 255, 1);
$gray-dark: rgba(17, 17, 17, 1);
$success: rgba(114, 205, 65, 1);
$danger: $primary;
$body-bg: $white;
$text-muted: var(--color-gray);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-dark !default;
$yiq-text-light: $white !default;

$font-size-base: 1rem;
$font-size-sm: 0.82rem;
$font-size-lg: 1.22rem;

$line-height-base: 1.5;
$line-height-sm: 1.22;
$line-height-lg: 1.84;

$border-width: 1px;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

/* Grid ---------------------------- */
$grid-breakpoints: (
	xxs: 0,
	xs: 480px,
	sm: 700px,
	md: 1000px,
	lg: 1300px,
	xl: 1600px
);

/* Z-index ---------------------------- */
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

/* Btn + Forms ---------------------------- */
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 0.75rem;
$input-btn-line-height: $line-height-base;

$input-btn-focus-width: 1px;
$input-btn-focus-color: $primary;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-line-height-lg: $line-height-lg;

$input-btn-border-width: $border-width;

/* Form ---------------------------- */
$label-margin-bottom: 0.5rem;

$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-line-height: $input-btn-line-height;

$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-line-height-sm: $input-btn-line-height-sm;

$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-line-height-lg: $input-btn-line-height-lg;

$input-bg: $white;
$input-disabled-bg: var(--color-gray-very-light);

$input-color: $gray-dark;
$input-border-color: var(--color-gray);
$input-border-width: $input-btn-border-width;
$input-box-shadow: inset 0 1px 1px rgba($gray-dark, 0.075);

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;

$input-focus-bg: $input-bg;
$input-focus-border-color: $primary;
$input-focus-color: $input-color;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: $input-btn-focus-box-shadow;

$input-placeholder-color: var(--color-gray);
$input-plaintext-color: var(--color-white);

$input-height-border: $input-border-width * 2;

$input-height-inner: ($font-size-base * $input-btn-line-height) +
	($input-btn-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});

$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) +
	($input-btn-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});

$input-height-inner-lg: ($font-size-lg * $input-btn-line-height-lg) +
	($input-btn-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});

$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

$form-text-margin-top: 0.25rem;

$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.3rem;
$form-check-input-margin-x: 0.25rem;

$form-check-inline-margin-x: 0.75rem;
$form-check-inline-input-margin-x: 0.3125rem;

$form-group-margin-bottom: var(--size-base);

$input-group-addon-color: $input-color;
$input-group-addon-bg: var(--color-gray-very-light);
$input-group-addon-border-color: $input-border-color;

/* Form validation ---------------------------- */
$form-feedback-margin-top: $form-text-margin-top;
$form-feedback-font-size: $font-size-sm;
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;

/* Custom forms ---------------------------- */
$custom-forms-transition: background-color 0.15s ease-in-out,
	border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

$custom-control-gutter: 1.5rem;
$custom-control-spacer-x: 1rem;

$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg: var(--color-gray);
$custom-control-indicator-bg-size: 50% 50%;
$custom-control-indicator-box-shadow: inset 0 0.25rem 0.25rem
	rgba($gray-dark, 0.1);

$custom-control-indicator-disabled-bg: var(--color-gray);
$custom-control-label-disabled-color: $gray-dark;

$custom-control-indicator-checked-color: $white;
$custom-control-indicator-checked-bg: $primary;
$custom-control-indicator-checked-disabled-bg: rgba($primary, 0.5);
$custom-control-indicator-checked-box-shadow: none;

$custom-control-indicator-focus-box-shadow: 0 0 0 1px $body-bg,
	$input-btn-focus-box-shadow;

$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: lighten($primary, 35%);
$custom-control-indicator-active-box-shadow: none;

$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-icon-checked: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"),
	"#",
	"%23"
);

$custom-checkbox-indicator-indeterminate-bg: $primary;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-icon-indeterminate: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"),
	"#",
	"%23"
);
$custom-checkbox-indicator-indeterminate-box-shadow: none;

$custom-radio-indicator-border-radius: 50%;
$custom-radio-indicator-icon-checked: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"),
	"#",
	"%23"
);

$custom-select-padding-y: 0.375rem;
$custom-select-padding-x: 0.75rem;
$custom-select-height: $input-height;
$custom-select-indicator-padding: 1rem; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height: $input-btn-line-height;
$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-dark;
$custom-select-bg: $input-bg;
$custom-select-disabled-bg: var(--color-gray);
$custom-select-bg-size: 8px 10px; // In pixels because image dimensions
$custom-select-indicator-color: $gray-dark;
$custom-select-indicator: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"),
	"#",
	"%23"
);
$custom-select-border-width: $input-btn-border-width;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: $border-radius;
$custom-select-box-shadow: 0;

$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-width: $input-btn-focus-width;
$custom-select-focus-box-shadow: none;

$custom-select-font-size-sm: 75%;
$custom-select-height-sm: $input-height-sm;

$custom-select-font-size-lg: 125%;
$custom-select-height-lg: $input-height-lg;

$custom-range-track-width: 100%;
$custom-range-track-height: 0.5rem;
$custom-range-track-cursor: pointer;
$custom-range-track-bg: var(--color-gray);
$custom-range-track-border-radius: 1rem;
$custom-range-track-box-shadow: inset 0 0.25rem 0.25rem rgba($gray-dark, 0.1);

$custom-range-thumb-width: 1rem;
$custom-range-thumb-height: $custom-range-thumb-width;
$custom-range-thumb-bg: $primary;
$custom-range-thumb-border: 0;
$custom-range-thumb-border-radius: 1rem;
$custom-range-thumb-box-shadow: 0 0.1rem 0.25rem rgba($gray-dark, 0.1);
$custom-range-thumb-focus-box-shadow: 0 0 0 1px $body-bg,
	$input-btn-focus-box-shadow;
$custom-range-thumb-focus-box-shadow-width: $input-btn-focus-width; // For focus box shadow issue in IE/Edge
$custom-range-thumb-active-bg: lighten($primary, 35%);
$custom-range-thumb-disabled-bg: var(--color-gray);

$custom-file-height: $input-height;
$custom-file-height-inner: $input-height-inner;
$custom-file-focus-border-color: $input-focus-border-color;
$custom-file-focus-box-shadow: $input-btn-focus-box-shadow;
$custom-file-disabled-bg: $input-disabled-bg;

$custom-file-padding-y: $input-btn-padding-y;
$custom-file-padding-x: $input-btn-padding-x;
$custom-file-line-height: $input-btn-line-height;
$custom-file-color: $input-color;
$custom-file-bg: $input-bg;
$custom-file-border-width: $input-btn-border-width;
$custom-file-border-color: $input-border-color;
$custom-file-border-radius: $input-border-radius;
$custom-file-box-shadow: $input-box-shadow;
$custom-file-button-color: $custom-file-color;
$custom-file-button-bg: $input-group-addon-bg;
$custom-file-text: (
	en: "Browse"
);

// Tooltips  ---------------------------- */

$tooltip-font-size: $font-size-sm !default;
$tooltip-max-width: 200px !default;
$tooltip-color: $white !default;
$tooltip-bg: var(--color-text) !default;
$tooltip-border-radius: $border-radius !default;
$tooltip-opacity: 0.9 !default;
$tooltip-padding-y: 0.25rem !default;
$tooltip-padding-x: 0.5rem !default;
$tooltip-margin: 0 !default;

$tooltip-arrow-width: 0.8rem !default;
$tooltip-arrow-height: 0.4rem !default;
$tooltip-arrow-color: $tooltip-bg !default;

// Form tooltips must come after regular tooltips
$form-feedback-tooltip-padding-y: $tooltip-padding-y !default;
$form-feedback-tooltip-padding-x: $tooltip-padding-x !default;
$form-feedback-tooltip-font-size: $tooltip-font-size !default;
$form-feedback-tooltip-line-height: $line-height-base !default;
$form-feedback-tooltip-opacity: $tooltip-opacity !default;
$form-feedback-tooltip-border-radius: $tooltip-border-radius !default;
