<template>
	<App>
		<AppHeader>
			<CategoryMenu v-if="$store.state.category.menu.visible" />
		</AppHeader>
		<AppContent>
			<div v-if="offCanvasVisible">offCanvasMenu is visible</div>
			<nuxt />
		</AppContent>
		<AppFooter />
		<BottomNavigation v-show="bottomNavigationVisible" />
	</App>
</template>

<script>
const App = () => import("~/components/App/App.vue");
const AppHeader = () => import("~/components/App/Header.vue");
const AppContent = () => import("~/components/App/Content.vue");
const AppFooter = () => import("~/components/App/Footer.vue");
const BottomNavigation = () => import("~/components/Navigation/BottomNavigation.vue");
const CategoryMenu = () => import("~/components/Category/Menu.vue");

export default {

	components: {
		App,
		AppHeader,
		AppContent,
		AppFooter,
		BottomNavigation,
		CategoryMenu,
	},

	computed: {
		bottomNavigationVisible() {
			if (process.client) {
				return ["xs", "sm"].includes(this.$mq);
			}
			return false;
		},

		offCanvasVisible() {
			return this.$store.state.offCanvasMenu.visible;
		},
	},

	methods: {
		onToggleOffCanvasMenu() {},
	},

	async mounted() {
		const { dispatch, getters } = this.$store;

		await this.$router.beforeEach(async (to, from, next) => {
			await dispatch("category/toggleCategoryMenuVisibility", to.name);
			next();
		});

		/* Preload */
		if (getters["category/list"].length === 0)	 dispatch("category/getList");
		if (getters["product/list"].length === 0)	 dispatch("product/getList");
	},
};
</script>
