<template>
	<article :class="$style.product">
		<div :class="$style.gallery">
			<Media
				v-for="image in product.images"
				:key="image.id"
				:class="$style.media"
				:style="heightStyles"
				aspect-ratio="fill"
			>
				<Still
					:src="image.src"
					:alt="image.alt"
					:fill="true"
					aspect-ratio="1:1"
					@loaded="stillLoaded = true"
				/>
			</Media>
		</div>
		<div
			:class="$style.contentAside"
		>
			<div
				:class="$style.inner"
				:style="heightStyles"
			>
				<div>
					<Headline>{{ product.name }}</Headline>
					<div
						:class="$style.shortDescription"
						v-if="product.shortDescription"
						v-html="product.shortDescription"
					/>
					<Price
						:class="$style.price"
						:value="product.price"
					/>
					<Stock
						:stock="stock"
						:class="$style.stock"
					/>
					<div :class="$style.buttonContainer">
						<Btn
							size="large"
							variant="dark"
							@click.native="addToCart"
							:loading="loading.addProduct"
							:disabled="!orderable"
						>Add to cart</Btn>
					</div>
				</div>
			</div>
		</div>

		<Container :class="$style.contentBelow">
			<div v-html="product.description" />
		</Container>
	</article>
</template>

<script>
import { mapGetters } from "vuex";

const Media = () => import("~/components/Media.vue");
const Still = () => import("~/components/Still.vue");
const Price = () => import("~/components/Price.vue");
const Headline = () => import("~/components/Headline.vue");
const Btn = () => import("~/components/Btn.vue");
const Container = () => import("~/components/Container.vue");
const Stock = () => import("./Stock");

export default {
	components: {
		Media,
		Still,
		Price,
		Headline,
		Btn,
		Container,
		Stock,
	},

	props: {
		product: {
			type: Object,
			default: () => {},
		},
	},

	computed: {
		heightStyles() {
			return {
				minHeight: `calc(100vh - ${this.$store.state.app.appHeaderHeight}px)`,
			};
		},

		...mapGetters("cart", [
			["loading"],
		]),

		stock() {
			return this.$store.getters["product/stockById"](this.product.id);
		},

		orderable() {
			return this.$store.getters["product/orderableById"](this.product.id);
		},
	},

	methods: {
		addToCart() {
			this.$store.dispatch("cart/addProduct", {
				product: {
					productId: this.product.id,
				},
			});
		},
	},
};
</script>

<style module>
.product {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"gallery aside"
		"below below";
	align-items: stretch;
}

.gallery {
	grid-area: gallery;
	display: flex;
	flex-direction: column;
}

.media {
	min-height: 100vh;
}

.contentAside {
	grid-area: aside;

	& .inner {
		position: sticky;
		top: 114px;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--size-base);
		text-align: center;
	}
}

.contentBelow {
	padding-top: calc(var(--size-base) * 2);
	padding-bottom: calc(var(--size-base) * 2);
	grid-area: below;
	column-gap: var(--size-base);

	@media (--breakpoint-sm) { columns: 2; }

	@media (--breakpoint-lg) { columns: 3; }

	& blockquote {
		break-inside: avoid;
	}
}

.shortDescription {
	margin-top: var(--size-base);

	& > *:first-child { margin-top: 0; }

	& > *:last-child { margin-bottom: 0; }
}

.price {
	display: block;
	font-size: var(--ms3);
	font-weight: var(--font-weight-bold);
	line-height: 1;
	margin-top: var(--size-base);
}

.stock {
	margin-top: var(--size-base);
}

.buttonContainer {
	padding-top: var(--size-base);
}
</style>
