<template>
	<div
		:class="[
			$style.grid,
			'row',
			'justify-content-center'
		]"
		v-if="products"
	>
		<Product
			v-for="product in products"
			:key="product.key"
			:product="product"
			:class="$style.product"
		/>
	</div>
</template>

<script>
const Product = () => import("~/components/Product/GridItem.vue");

export default {
	components: {
		Product,
	},

	props: {
		products: {
			type: Array,
			default: () => [],
		},
	},
};
</script>

<style module>
.grid {
	margin-top: calc(var(--size-base) / -2);
	margin-bottom: calc(var(--size-base) / -2);
}

.product {
	width: 100%;
	justify-content: center;
	padding-top: calc(var(--size-base) / 2);
	padding-bottom: calc(var(--size-base) / 2);

	@media (--breakpoint-xs) { width: calc(100% / 2); }

	@media (--breakpoint-md) { width: calc(100% / 3); }

	@media (--breakpoint-lg) { width: calc(100% / 4); }
}
</style>
