<template>
	<nuxt-link
		:class="[
			$style.item,
			'col-auto'
		]"
		:to="{name: 'shop-product-slug', params: {slug: product.slug}}"
	>
		<Media
			:class="$style.media"
			aspect-ratio="1/1"
		>
			<Still
				v-if="product.images[0]"
				:src="product.images[0].src"
				:alt="product.images[0].alt"
				:fill="true"
				aspect-ratio="1:1"
				@loaded="stillLoaded = true"
			/>
		</Media>
		<div
			:class="$style.content"
		>
			<div :class="$style.name">{{ product.name }}</div>
			<div :class="$style.price">
				<Price :value="product.price" />
			</div>
		</div>
	</nuxt-link>
</template>

<script>
// const FontAwesomeIcon = () => import("@fortawesome/vue-fontawesome");
const Media = () => import("~/components/Media.vue");
const Still = () => import("~/components/Still.vue");
const Price = () => import("~/components/Price.vue");

export default {
	components: {
		// FontAwesomeIcon,
		Media,
		Still,
		Price,
	},

	data() {
		return {
			stillLoaded: true,
		};
	},

	props: {
		product: {
			type: Object,
			default: () => {},
		},
	},

};
</script>

<style module>
.item {
	color: var(--color-text);
	text-decoration: none;
	text-align: center;
}

.content {
	margin-top: calc(var(--size-base) / 2);
}

.name {
	font-weight: 700;
	margin-bottom: calc(var(--size-base) / 8);
}
</style>
