<template>
	<div>{{ message }}</div>
</template>

<script>
export default {
	props: {
		stock: {
			type: Object,
			default: () => {},
		},
	},

	computed: {
		message() {
			const {
				inStock,
				manageStock,
				stockQuantity,
				backordersAllowed,
			} = this.stock;

			if (!manageStock && !inStock) return "Out of stock";

			if (stockQuantity <= 0 && stockQuantity != null) {
				if (backordersAllowed) return "Available on backorder";
				return "Out of stock";
			}

			return "In stock";
		},
	},
};
</script>

<style>

</style>
