<template>
	<div
		:class="[$style.loading]"
	>
		<Oval :class="$style.oval" />
	</div>
</template>

<script>
const Oval = () => import("~/components/Loading/oval.svg");
export default {
	components: {
		Oval,
	},
};
</script>

<style module>
.loading {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}

.oval {
	width: calc(var(--size-base) * 2);
}
</style>
