<template>
	<div>
		<ul>
			<li> Cart -
			Icons made by <a
				href="https://www.flaticon.com/authors/pixel-perfect"
				title="Pixel perfect"
			>Pixel perfect</a>
				from
				<a
					href="https://www.flaticon.com/"
					title="Flaticon"
				>www.flaticon.com</a>
				is licensed by
				<a
					href="http://creativecommons.org/licenses/by/3.0/"
					title="Creative Commons BY 3.0"
					target="_blank"
				>CC 3.0 BY</a>
			</li>
			<li> List-menu <div>Icons made by <a
				href="http://www.freepik.com"
				title="Freepik"
			>Freepik</a> from <a
				href="https://www.flaticon.com/"
				title="Flaticon"
			>www.flaticon.com</a> is licensed by <a
				href="http://creativecommons.org/licenses/by/3.0/"
				title="Creative Commons BY 3.0"
				target="_blank"
			>CC 3.0 BY</a></div>
			</li>
			<li>
				Ellipsis - <div>Icons made by <a
					href="https://www.flaticon.com/authors/kirill-kazachek"
					title="Kirill Kazachek"
				>Kirill Kazachek</a> from <a
					href="https://www.flaticon.com/"
					title="Flaticon"
				>www.flaticon.com</a> is licensed by <a
					href="http://creativecommons.org/licenses/by/3.0/"
					title="Creative Commons BY 3.0"
					target="_blank"
				>CC 3.0 BY</a></div>
			</li>

			<li>
				beer <div>Icons made by <a
					href="http://www.freepik.com"
					title="Freepik"
				>Freepik</a> from <a
					href="https://www.flaticon.com/"
					title="Flaticon"
				>www.flaticon.com</a> is licensed by <a
					href="http://creativecommons.org/licenses/by/3.0/"
					title="Creative Commons BY 3.0"
					target="_blank"
				>CC 3.0 BY</a></div>
			</li>

			<li>
				headphones <div>Icons made by <a
					href="http://www.freepik.com"
					title="Freepik"
				>Freepik</a> from <a
					href="https://www.flaticon.com/"
					title="Flaticon"
				>www.flaticon.com</a> is licensed by <a
					href="http://creativecommons.org/licenses/by/3.0/"
					title="Creative Commons BY 3.0"
					target="_blank"
				>CC 3.0 BY</a></div>
			</li>

			<li>
				T-shirt <div>Icons made by <a
					href="https://www.flaticon.com/authors/monkik"
					title="monkik"
				>monkik</a> from <a
					href="https://www.flaticon.com/"
					title="Flaticon"
				>www.flaticon.com</a> is licensed by <a
					href="http://creativecommons.org/licenses/by/3.0/"
					title="Creative Commons BY 3.0"
					target="_blank"
				>CC 3.0 BY</a></div>
			</li>

		</ul>
	</div>
</template>

<script>
export default {

};
</script>

<style>

</style>
