<template>
	<Container>
		<div>
			<h1 class="title">
				roycethefront
			</h1>
			<h2 class="subtitle">
				Nuxt front for a Headless Wordpress Woocommerce
			</h2>
			<div class="links">
				<a
					href="https://nuxtjs.org/"
					target="_blank"
					class="button--green"
				>Documentation</a>
				<a
					href="https://github.com/nuxt/nuxt.js"
					target="_blank"
					class="button--grey"
				>GitHub</a>
			</div>
		</div>
	</Container>
</template>

<script>
const Container = () => import("~/components/Container.vue");

export default {
	components: { Container },
};
</script>
