<template>
	<Container :class="$style.page">
		<Providers :class="$style.providers">
			<Provider
				v-for="provider in providers"
				:key="provider.name"
				:provider="provider"
			/>
		</Providers>
	</Container>
</template>

<script>
const Container = () => import("~/components/Container.vue");

const Providers = () => import("~/components/Providers/Providers.vue");
const Provider = () => import("~/components/Providers/Provider.vue");

export default {

	components: {
		Container,
		Providers,
		Provider,
	},

	computed: {
		providers() { return this.$store.state.provider.list; },
	},
};
</script>

<style module>
	.page {
		display: flex;
		padding-top: var(--size-base);
		padding-bottom: var(--size-base);
	}

	.providers {
		flex: 1 1 auto;
	}
</style>
